# Dependencies
node_modules/

# Build files
dist/
build/
.next/
out/

# Environment files
.env
.env.local
.env.*.local

# Uploads
uploads/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Yarn / PnP
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Coverage
coverage/

# Temp files
tmp/
temp/

# Misc
config.bat